[submodule "thirdparty/jansson"]
	path = thirdparty/jansson
	url = https://github.com/akheron/jansson.git
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/onqtam/doctest.git
